@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Home Section */
.img {
    background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.3)), url(./image/agencies-.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.center {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.img2 {
    background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.3)), url(./image/what-is-agricultural-software-and-how-it-works-1024x680-optimized.webp);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.center1 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #D4CECD;
    height: 100px;
    width: 50px;
    top: 350px;

}

.staff a button{
    background-color: darkcyan;
    color: #ffff;
}

ul i {
    color: darkcyan;
}

/* .head {
    z-index: 4;
} */

.bg-light {
    background-color: transparent !important;
}

farmer a {
    background-color: darkcyan;
    color: white;
    padding: 8px 13px 8px 13px;

}

.newfarmer a {
    background-color: rgb(255, 225, 0);
    color: black;
    padding: 8px 13px 8px 13px;
}
